@CHARSET "UTF-8";

#adu_nav{
	width:1200px; 
	border: 0px solid yellow;
	margin-left: 0px;
}
#adminUpdateUl li{
	background-color: lightgray;
	font-weight: bold;
}


#adminUpdateMenu ul li{
	float: left; margin:-1px; width:150px;
	height:40px;
	line-height: 40px;
	list-style-type: none;
	border: 1px solid gray;
	text-align: center;
	font-size: 13px;
}

#adminList{
	float: left; margin-left:20px; width:150px; list-style-type: none;
	border: 0px solid yellow;
	text-align: center;
	font-size: 13px;
}