@CHARSET "UTF-8";


#orderForm{
	width:500px;
	margin-top: 30px;
}
#order_title{
	text-align: left;
	margin-bottom: 30px;
}
#adminOrderSearch{
	width :700px;
	margin-left: 300px;
	height: 250px;
}

#adminSearchTable{
	border: 1px solid gray;
	background-color: lightgray;
	height:180px;
	width: 580px;

}
.adminSearchDiv{
	margin-top: 20px;
	margin-left: 40px;
}

#tabsDiv{
	overflow: scroll;
	height: 470px;
}

#search_result{
	text-align: center;
	font-size: 13px;
	width : 690px;
	display: block;
	margin-left: 280px;
}

#table_firstTr:FIRST-CHILD td{
	background-color: lightgray;
	height: 50px;
	font-weight: bold;
}

.adminOrderDiv {

	margin:-1px;
	overflow: hidden;
	font-weight: bold;
}
.adminOrderDiv ul li:nth-child(odd){
	background-color: lightgray;
	text-align: center;
}
.adminOrderDiv ul li{
	padding: 4px;
	display: block;
	width:100px;
	float:left;
	border: 1px solid gray;
}

label{
	font-size: 13px;
}
#productInfo{
	width: 300px;
	height : 100px;
	background-color: lightgray;
	margin:1px auto;
}


#salesTop ul li{

	width:200px;
}

#salesTop ul:nth-child(odd){

	text-align: right;
}

