@CHARSET "UTF-8";


#orderForm{
	text-align: center;
	margin-top: 50px;
}
#order_title{
	text-align: left;
	margin-bottom: 30px;
}
#adminOrderSearch{
	border: 1px solid red;
	width :700px;
	margin:1px auto;
	
}

#adminSearchTable{
	border: 1px solid gray;
	background-color: lightgray;
	height: 150px;
	
	margin:1px auto;
}
.adminSearchDiv{
	margin-top: 10px;
	margin-left: 10px;
}

#tabsDiv{
	overflow: scroll;
	height: 470px;
}

#search_result{
	text-align: center;
	border: 2px solid red;
	font-size: 13px;
	width:800
}

.orderDiv{
	margin-top: 15px;
}

label{
	font-size: 13px;
}