@CHARSET "UTF-8";


#orderForm{
	width:500px;
	margin-top: 30px;
}
#order_title{
	text-align: left;
	margin-bottom: 30px;
}
#adminOrderSearch{
	width :700px;
	margin-left: 300px;
	height: 250px;
}

#adminSearchTable{
	border: 1px solid gray;
	background-color: lightgray;
	height:150px;
	width: 580px;
	margin-left: 50px;

}
.adminSearchDiv{
	margin-top: 20px;
	margin-left: 40px;

}

#tabsDiv{
	overflow: scroll;
	height: 470px;
}

#search_result{

	overflow: hidden;
	text-align: center;
	font-size: 13px;
	width : 890px;
	display: block;
}

#search_result ul li{
	padding: 4px;
	display: block;
	float:left;
	border: 1px solid gray;
	height: 40px;
	line-height: 40px;
	margin: -1px;
}

#table_firstTr li{
	background-color: lightgray;
	font-weight: bold;
}

.adminOrderDiv {

	overflow: hidden;
	font-weight: bold;
}
.adminOrderDiv ul li:nth-child(odd){
	background-color: lightgray;
	text-align: center;
}
.adminOrderDiv ul li{
	padding: 4px;
	display: block;
	width:100px;
	float:left;
	border: 1px solid gray;
}

label{
	font-size: 13px;
}
#productInfo{
	width: 300px;
	height : 100px;
	background-color: lightgray;
	margin:1px auto;
}


#salesTop ul li{

	width:200px;
}

#salesTop ul:nth-child(odd){

	text-align: right;
}

#adminOrderStatsResult ul li{
	padding: 4px;
	display: block;
	width:150px;
	float:left;
	border: 1px solid gray;
	text-align: center;
}

#adminOrderStatsResult{
	margin-top:30px;
	margin-left:265px;
	overflow: hidden;
	width:700px;
}

.adminOrderStatsResultFirst ul li{
	background-color: lightgray;
	font-weight: bold;
}

