@CHARSET "UTF-8";

#myr_main{
	width:790px; overflow: hidden;
	border: 0px solid red;
}

#myr_title{
	width:50%; height:50px; margin-left:0px; line-height:50px;
	border: 0px solid blue; margin-bottom:50px;
}

#myr_title span{
	font-size: 30px;
}

#myr_content{
	width:750px; overflow:hidden; margin-left:0px; line-height:50px;
}

#myr_content input{
	float: left;
}

#myr_inf{
	width:550px; height:200px; line-height:50px; margin-left:30px;
	float: left;
}

#myr_name{
	width:100%; height:45px;
	border-bottom: 1px solid #c0c0c0;
}
#myr_name ul{
	margin:0px;
}
#myr_name li:nth-child(1){
	width:75%; height:40px; margin:0px;
	border: 0px solid blue; 
	list-style-type: none; float: left;
}

#myr_name li:nth-child(2){
	width:23%; height:40px; margin:0px;
	border: 0px solid blue; 
	list-style-type: none; float: left;
}

#myr_date{
	width:100%; height:45px;
	border-bottom: 1px solid #c0c0c0;
}
#myr_date ul{
	margin:0px;
}
#myr_date li:nth-child(1){
	width:30%; height:40px; margin:0px;
	border: 0px solid blue; 
	list-style-type: none; float: left;
}

#myr_date li:nth-child(2){
	width:30%; height:40px; margin:0px;
	border: 0px solid blue; 
	list-style-type: none; float: left;
}

#myr_price{
	width:100%; height:45px;
	border-bottom: 1px solid #c0c0c0; 
}
#myr_price ul{
	margin:0px;
}
#myr_price li:nth-child(1){
	width:5%; height:40px; margin:0px;
	border: 0px solid blue; 
	list-style-type: none; float: left;
}

#myr_price li:nth-child(2){
	width:40%; height:40px; margin:0px;
	border: 0px solid blue; 
	list-style-type: none; float: left;
}

#myr_reply{
	width:100%; height:45px;
	border: 0px solid yellow; margin-top:10px;
}
#reply{
	width:300px; height:25px; margin-left:40px; margin-top:20px;
	border: 0px solid black; 
}

#myr_reply_text{
	width:100%; overflow: hidden;
	border: 0px solid red; margin:0;
}

#myr_score{
	width:25%; margin:0px; height:40px; padding:0px;
	border: 0px solid black;
	float:left;
}
#myr_score li{
	list-style-type: none;
	float:left;
}

.score_button{
	width:30px; height:30px;
	border: 0px solid red; margin-top:5px;
	float:left;
}

#myr_reply{
	width:70%; margin:0px; height:40px;  padding:0px;
	border: 0px solid black;
	float:left; line-height: 40px;
}

#myr_reply li{
	list-style-type: none;
	float:left;
	border: 0px solid black;
}

#myr_reply li:nth-child(2){
	margin-top:4px; margin-left:20px;
}
#myr_reply li:nth-child(3){
	margin-top:8px;
}

#myr_reply_insert{
	height:25px;
}


