@CHARSET "UTF-8";
#mmo_main{
	width:800px; overflow: hidden;
	border: 0px solid red;
}

#mmo_title{
	width:80%; height:50px;
	border: 0px solid blue;
}

#mmo_subTitle{
	width:50%; height:50px;
	border: 0px solid blue;
}

#mmo_content{
	width:90%; height:230px;
	border: 0px solid blue;
}

.mmo_line{
	width:800px; margin-top:7px;
	border-bottom: 1px solid #c0c0c0;
	clear:both; 
}

.mmo_line ul{
	margin:0px; padding: 0px;
}

.mmo_line li{
	width:50px; height:40px;
	list-style-type: none; 
	float: left; line-height: 40px;
	font-size: 13px;
	font-weight: bold;
}

#mmo_name_tag{
	text-align: center; background-color: #c0c0c0;
}