@CHARSET "UTF-8";

/* 최근 본 상품 스타일 페이지 시트 지정 */
.recentProduct{
	position:fixed; background-color:write;
	border:1px solid  gray; margin-top:-570px; 
	width:140px; height:370px; 
	right:30px; top:800px; 							/* position:fixed일 경우, right, top 위치 조정 */	
	padding-top:8px; border-radius: 30px;
	overflow: hidden;
}

.recentCookie{
	position:relative; border:0px solid blue;
	width:130px; height:100px; right:25px;
	margin-left:25px; margin-top:10px;
}

.cookieImgSize{
	width:160px; height:100px;
}

.cookieImgSize2{
	width:160px; height:100px; margin-top:20px;
}




