@CHARSET "UTF-8";

/* home.jsp 스타일 시트 지정 */
body{
   font-size:13px;
}

a:link {
	text-decoration:none;
	color:blue
}

a:visited {
	text-decoration:none;
	color:red
}

a:hover {
	text-decoration:underline;
	color:black
}

/* 최근 본 상품 스타일 테스트페이지 시트 지정 */
.recentProductTest{
	position:fixed; background-color:#d7567d;
	border:0px solid red; margin-top:-30px;
	width:190px; height:460px; right:10px; padding-top:8px;
}

.recentCookieTest{
	position:relative; border:0px solid blue;
	width:170px; height:100px; right:20px;
	margin-left:30px; margin-top:12px;
}

.cookieImgSizeTest{
	width:160px; height:90px;
}


/* 최근 본 상품 스타일 페이지 시트 지정 */
.recentProduct{
	position:fixed; background-color:#4450D0;
	border:0px solid red; margin-top:-30px;
	width:190px; height:460px; right:10px; padding-top:8px;
}

.recentCookie{
	position:relative; border:0px solid blue;
	width:170px; height:120px; right:20px;
	margin-left:30px; margin-top:20px;
}

.cookieImgSize{
	width:160px; height:100px;
}

.cookieImgSize2{
	width:160px; height:100px; margin-top:20px;
}




