@CHARSET "UTF-8";

#dc_main{
	width:1100px; overflow: hidden;
	border:0px solid red;
	margin-left:100px;
}

#dc_plickers{
	width:100%; overflow: hidden;
	border:0px solid blue;
}

.cityPicker{
	width:80%; margin-left:150px;
	border:0px solid blue;
}

#dc_sl{
	width:80%; margin-left:150px; margin-top:30px;
	border:0px solid blue;
}

#dc_sl ul{
	margin:0px; padding:0px;
}

#dc_sl li{
	list-style-type: none;
	
}

#slider-range{
	width:626px;
	float: left;
}

#amount{
	margin-left:40px;
}

#dc_imfo{
	width:300px; margin-left:150px;
}

#dc_product{
	width:100%; overflow: hidden;
	margin-top:50px;
	border:0px solid black;
}

.dc_product_list{
	width:290px; height:390px;
	float:left; margin-left:50px; margin-top:30px;
	border:1px solid #c0c0c0;
}

#dc_pro_img img{
	margin-left:5px; margin-top:5px;
}

#dc_pro_imfo{
	width:100%; height:90px; margin-left:5px;
	border:0px solid blue; margin-top:3px;
}

#dc_pro_imfo li{
	list-style-type: none; clear:both;
}


