@CHARSET "UTF-8";
#joinTotal{
	width:1000px; overflow:hidden;
	margin-top:10px;
	border: 0px solid red;
}

#title{
	font-size:13px; font-weight:bold;
	font-family: 새굴림;
	color:green;
}

#minititle{
	font-size:13px; font-weight:bold; color:red;
	font-family: 새굴림;
}

#memberSection{
	width:750px; overflow:hidden;
	margin-top:15px;
	margin-left: 50px;
}

#subj{
	width:100px; height:30px;
	border: 0px solid black;
	margin-top:10px; float:left;
	margin-left: 0px;font-weight: bold;
}
#fieldDiv{
	width:400px; height:30px;
	border: 0px solid black;
	margin-top:10px; float:left;
}

#exField{
	width:180px; height:30px;
	border: 0px solid black;
	margin-top:10px; float:left;
}

#exFieldi{
	width:180px; height:30px;
	border: 0px solid black;
	margin-top:10px; float:left;
}

#field:focus{
	border:2px solid skyblue;
}
#field:enabled{
	border:1px solid skyblue;
	 height:25px;
}
#field:disabled{
	
}

#memberSection input{
	height:20px; font-size: 13px;
}

#tabs{
	margin-top:20px;
}

#mj_su_button{
	margin-left:350px; margin-top:50px;
}
