@CHARSET "UTF-8";
body{
    margin: 0;
    padding: 0;
}

a:visited {
/*     color: #464646; */
/*     text-decoration: none; */
}
a:link {
/*     color: #464646; */
/*     text-decoration: none; */
}
a {
/*     text-decoration: none; */
/*     cursor: pointer; */
}

ul {
    margin: 0;
    padding: 0;
	list-style-type: none;
}

.nav ul {
    float: right;
}

.nav ul li{
    float: left;
}

img {
    border: 0;
    vertical-align: middle;
}

li{
	display: list-item;
    text-align: -webkit-match-parent;
}

.floatl{
	float: left;
}

.floatr{
	float: right;
}

.nav {
    width: 936px;
/*     clear: both; */
    height: 23px;
    padding: 10px 0 6px 0;
    border-bottom: 4px solid #029C14;
    margin: 0 auto;
    overflow: hidden;
    line-height: 19px;
}

body, html {
    letter-spacing: 0;
}

.gallery_info{
	float: left;
	width: 400px;
}

.detail_info{
	margin-left: 400px;
}

#content{
	width:936px; margin:0px auto; display: block;
    border-bottom: 4px solid #029C14;
}

.productListPages{
	width: 880px;
	margin: 0px auto;
	text-align: center;
	font-size: 14px;
	padding: 5px 0px 0px;
}

.flightListHeadWrap{
	border-top: 1px solid #029c14;
	border-bottom: 1px solid #ccdcbd;
	vertical-align: middle;
	background: #F1FBEA;
}

.flightListHead{
	text-align: center;
	overflow: hidden;
	display: inline-block;
/* 	height: 40px; */
	background: #F1FBEA url("http://img.modetour.co.kr/mode2010/modetour/product/moproduct/bg_package_list_horizon.gif") no-repeat 100% center;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px;
}

.flightListElement{
	text-align: center;
/* 	height: 59px; */
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	padding: 15px 10px;
}

.flightListWrap .departure{
	width: 180px;
} 
.flightListWrap .arrival{
	width: 180px;
} 
.flightListWrap .airline{
	width: 118px;
} 
.flightListWrap .price{
	width: 118px;
} 
.flightListWrap .occupancy{
	width: 118px;
}

.flightListHeadWrap{
	padding: 0px 34px;
}
.flightList{
	padding: 0px 25px;
	border: 1px solid #ffffff;
	border-bottom: 1px solid #dddddd;
}

.code_title{
	font-weight: bold;
}

.code_num{
	color: red;
	font-weight: bold;
}

.product_name{
	font-size: 30px;
    line-height: 1.2em;
    color: #111;
    overflow: hidden;
	font-weight: bold;
}

.product_summary{
	padding-bottom: 20px; margin: 15px 15px 15px 15px; border-bottom: 1px solid #D1D1D1;
	font-size: 20px;
	height: 150px;
    line-height: 1.2em;
    color: #111;
    overflow: hidden;
	font-weight: bold;
	padding-bottom: 20px;
	margin: 15px 15px 15px 15px;
	border-bottom: 1px solid #D1D1D1;
	border:1px #ffffff solid; width:100%; height:150px;overflow:hidden;
}

.productPhoto{
	float:left;
}	

.period_list li{
	float:none;
}