@CHARSET "UTF-8";

.productLikeTable ul li{
	
	background-color: #EAEAEA;
	border-top: 1px solid #757575; border-bottom:1px solid #757575;
	width:800px; margin-top:7px;
	background-color: #F6F6F6;
	padding: 4px;
	display: block;
	width:100px;
	float:left;

	text-align: center;
	height: 38px;
	line-height:38px;
	
}


.productLikeTable ul li:nth-child(1){
	width:30px;
}
.productLikeTable ul li:nth-child(2){
	width:240px;
}
.productLikeTable ul li:nth-child(4){
	line-height: 13px;
}
.productLikeTable ul li:nth-child(5){
	line-height: 20px;
}

.productLikeTable {

	margin:-1px;
	overflow: hidden;
}

.productLikeTable ul{

	margin: 0px;
	
}
#productLikeTableFirst li{
	background-color: #c0c0c0;
	font-weight: bold;
	color:white;
}