@CHARSET "UTF-8";

h3, h4{
	margin:10px;
}

/* select box - JQuery UI 적용 부분 ===> label, select */
label{
	display: block;
}
select{
	width: 110px;
}

#auto_info{		/* 추천 상품 검색 페이지 전체적인 틀 부분 스타일 */
	width:1050px; height:1200px;
	border:1px solid orange; margin-left:200px;
}

#result1{		/* ajax로 데이터 전체 출력해주는 틀 부분 스타일 */
	width:1030px; height:400px;
	margin:10px; border:1px solid skyblue;
}

#result2{		/* 추천상품리스트 전체적인 틀 스타일 */
	width:700px; height:400px; 
	margin:10px; border:1px solid skyblue;
}

.result2{		/* ajax로 결과값 출력해주는 위에 타이틀 부분 스타일 */
	width:1030px; height:30px;
}

.result3{		/* ajax로 결과값 출력해주는 전체적인 틀 부분 스타일 */
	width:1030px; height:30px;
	text-align:center; 
}

.recommand1{	/* ajax로 DB에 있는 데이터 불러올때 정의한 데이터 부분 - div태그 스타일 적용 */
	width:120px; height:30px; float:left;
	line-height:30px; text-align:center;
}

.recommand2{	/* ajax로 DB에 있는 데이터 가져올때 내용부분 - div태그 스타일 적용 */
	width:120px; height:30px;
	text-align:center; float:left; line-height:30px;
}

.recommand1_1{	/* 상품명 타이틀 부분만 따로 스타일 적용 */
	width:170px; height:30px;
	text-align:center; float:left; line-height:30px;
}

.recommand2_1{	/* 상품명 DB 부분만 따로 스타일 적용 */
	width:170px; height:30px;
	text-align:center; float:left; line-height:30px;
}