<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.memberMapper">
	<insert id="memberInsert" parameterType="com.healing.member.dto.MemberDto">
		insert into member(member_number,member_name,member_id,member_password,
		member_email,member_email_check,member_level,member_phone,member_date)
		values(member_member_number_seq.nextval,#{member_name},#{member_id},#{member_password},
		#{member_email},#{member_email_check},#{member_level},#{member_phone},#{member_date})
	</insert>
</mapper>