@CHARSET "UTF-8";


#adminMemberFormDiv{
	width:1350px;
	font-size: 13px;
}

#adm_firstMenu{
	width:1000px; overflow:hidden;
	margin-left:10px;
}

#adm_firstMenu_option{
	width:150px; height:30px;
	float:right;
	list-style-type: none;
	text-align: center;
}
#adm_secondMenu{
	width:1000px; overflow:hidden;
	margin-left:10px;
}

#adm_member_first li{
	background-color: lightgray;
	font-weight: bold;
}
#adm_memberMenu ul li{
	border: 1px solid gray;	

}
.adm_secondMenu_option{
	width:150px; height:30px; padding-left:5px;
	float:right;
	border: 0px solid yellow;
	list-style-type: none;
	margin-left:5px;
}
#adm_arange{
	width:150px; height:30px;
	float:left;
	border: 0px solid yellow;
	list-style-type: none;
}

#slider-range{
	width:250px; height:10px;
	float:right;
	border: 1px solid #c0c0c0;

}

#adm_memberMenu{
	width:90%; height:30px;
	margin-left:10px;
	border: 0px solid blue;
	line-height: 30px;
}


/* -----------------------------------------------*/
#adm_member_name{
	width:100px; height:30px;
	float:left;
	border-bottom: 1px solid #c0c0c0;
	list-style-type: none;
	text-align: center;
}
#adm_member_name a{
	text-decoration: none;
	color:#0080c0;
}
#adm_member_id{
	width:120px; height:30px;
	float:left;
	border-bottom: 1px solid #c0c0c0;
	list-style-type: none;
	text-align: center;
}
#adm_member_phone{
	width:140px; height:30px;
	float:left;
	border-bottom: 1px solid #c0c0c0;
	list-style-type: none;
	text-align: center;
}
#adm_member_email{
	width:250px; height:30px;
	float:left;
	border-bottom: 1px solid #c0c0c0;
	list-style-type: none;
	text-align: center;
}
#adm_member_date{
	width:120px; height:30px;
	float:left;
	border-bottom: 1px solid #c0c0c0;
	list-style-type: none;
	text-align: center;
}
#adm_member_purchase{
	width:160px; height:30px;
	float:left;
	border-bottom: 1px solid #c0c0c0;
	list-style-type: none;
	text-align: center;
}
#adm_member_level{
	width:100px; height:30px;
	float:left;
	border-bottom: 1px solid #c0c0c0;
	list-style-type: none;
	text-align: center;
}


