<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.productLikeMapper">   <!-- namespace : mapper를 식별해주는 식별자 -->
	
	<insert id="productLikeinsert" parameterType="java.util.HashMap">
		insert into product_like values(product_like_number_seq.nextval,#{member_number},#{product_number},sysdate)		
	</insert>
	
	<select id="getProductLikeList" parameterType="int" resultType="com.healing.productLike.dto.ProductLikeDto">
		select * from product_like where member_number=#{member_number} order by like_number desc
	</select>
	
	<delete id="productLikeAllDelete" parameterType="int">
		delete from product_like where member_number=#{member_number}	
	</delete>
	
	<delete id="productLikeSelectDel" parameterType="int">
		delete from product_like where like_number=#{like_number}
	</delete>
</mapper>
	