<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.adminBannerMapper">   <!-- namespace : mapper를 식별해주는 식별자 -->
	<select id="productSelect0" parameterType="java.util.HashMap" resultType="com.healing.product.dto.ProductDto">
		select * from product where product_name like '%'||#{keyword}||'%'
	</select>
	
	<select id="productSelect1" parameterType="java.util.HashMap" resultType="com.healing.product.dto.ProductDto">
		select * from product where product_country like '%'||#{keyword}||'%'
	</select>
	
	<insert id="bannerInsert" parameterType="int">
		insert into banner values(banner_banner_number_seq.nextval, #{productNumber})
	</insert>
	
	<select id="recBannerSelect" resultType="com.healing.product.dto.ProductDto">
		<![CDATA[
			SELECT p.product_number, 
				p.product_name, 
				p.product_country, 
				p.product_stay_date,
				p.product_size,
				p.product_readcount,
				p.product_average_score
			FROM banner b, product p
			WHERE b.product_number = p.product_number
		]]>
	</select>
	
	<delete id="bannerDelete" parameterType="int">
		delete from banner where product_number=#{product_number}
	</delete>
	
	<!-- <select id="bannerCount" resultType="int">
		SELECT count(*) FROM banner b, product p
		WHERE b.product_number = p.product_number
	</select>
	
	<select id="getBannerList" resultType="com.healing.product.dto.ProductDto" parameterType="java.util.Map">
		<![CDATA[
			select * from
				(select rownum rnum, a.* from
					(select * from product order by product_number asc) a)
			where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
	</select> -->
</mapper>
	