<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.adminBannerMapper">   <!-- namespace : mapper를 식별해주는 식별자 -->
	<select id="productSelect0" parameterType="java.util.HashMap" resultType="com.healing.product.dto.ProductDto">
		select * from product where product_name like '%'||#{keyword}||'%'
	</select>
	
	<select id="productSelect1" parameterType="java.util.HashMap" resultType="com.healing.product.dto.ProductDto">
		select * from product where product_country like '%'||#{keyword}||'%'
	</select>
	
	<update id="bannerRecommandInsert" parameterType="int">
		update product set product_banner=1 where product_number=#{product_number}
	</update>
	
	<select id="recBannerSelect" resultType="com.healing.product.dto.ProductDto">
		select product_number, 
				product_name, 
				product_country, 
				product_stay_days,
				product_readcount,
				product_average_score,
				product_banner
		from product where product_banner=1 order by product_number asc
	</select>
	
	<update id="bannerRecommandDelete" parameterType="int">
		update product set product_banner=0 where product_number=#{product_number}
	</update>
	
	<select id="bannerGetCount" resultType="int">
		select count(*) from product where product_banner=1
	</select>
	
	<select id="getPath" resultType="String">
		select product_photo_filename from product_photo where product_number=#{product_number} order by product_photo_number asc
	</select>
	
	<select id="getBannerList" resultType="com.healing.product.dto.ProductDto">
		select * from product where product_banner=1
	</select>
	
	<select id="getProductPhotoList" resultType="com.healing.product.dto.ProductPhotoDto">
		<![CDATA[
			SELECT * FROM product pro, product_photo pro_pho
			WHERE pro.product_number = pro_pho.product_number
			AND pro.product_banner = 1
			order by pro.product_number asc
		]]>
	</select>
	
	<select id="recentlyProductSelect" resultType="com.healing.product.dto.ProductDto" parameterType="int">
		select * from product where product_number=#{value}
	</select>
	
	<select id="recentlyProductPhotoSelect" resultType="com.healing.product.dto.ProductPhotoDto" parameterType="int">
		select * from product_photo where product_number=#{value}
	</select>
	
</mapper>
	