<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.memberMyPageMapper">   <!-- namespace : mapper를 식별해주는 식별자 -->
	<select id="memberMypageOrderList" parameterType="int" resultType="com.healing.memberMypage.dto.MemberMypageDto">
		SELECT * FROM mypage
		WHERE member_number=#{member_number}
		order by order_date desc
	</select>
	
	<insert id="memberMypageReviewInsert" parameterType="java.util.List">
		insert into review(REVIEW_NUMBER,ORDER_NUMBER,MEMBER_NUMBER,PRODUCT_NUMBER,REVIEW_CONTENT,REVIEW_SCORE)
		values()
	</insert>
</mapper>
	