<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.memberMyPageMapper">   <!-- namespace : mapper를 식별해주는 식별자 -->
	<select id="memberMypageOrderList" parameterType="int" resultType="com.healing.memberMypage.dto.MemberMypageDto">
		SELECT * FROM mypage
		WHERE member_number=#{member_number}
		order by order_date desc
	</select>
	
	<select id="memberMypageReList" parameterType="java.util.Map" resultType="com.healing.memberMypage.dto.MemberMypageDto">
		<![CDATA[
			SELECT * FROM mypage
			WHERE member_number=#{member_number} AND flight_end_date < #{today}
			order by order_date desc
		]]>
	</select>
	
	<insert id="memberMypageReviewInsert" parameterType="java.util.Map">
		insert into review(review_number,order_number,member_number,product_number,review_content,review_score,flight_number)
		values(review_review_number_seq.nextval,#{order_number},#{member_number},#{product_number},#{review_content},#{star_number},#{flight_number})
	</insert>
	
	<select id="reviewList" parameterType="int" resultType="com.healing.memberMypage.dto.ReviewDto">
		select * from review
		where member_number=#{member_number}
	</select>
	
	<select id="memberMyPageGetSchedule" parameterType="int" resultType="com.healing.freeplan.dto.ScheduleDto">
		select * from schedule where member_number = #{member_number}
	</select>
	
	<select id="memberMyPageGetPlaceList" parameterType="int" resultType="com.healing.freeplan.dto.FreePlanDto">
		select * from freeplanner where place_number = #{place_number}
	</select>
	
	<select id="memberMyPageGetContent" parameterType="java.util.HashMap" resultType="String">
		select schedule_content from schedule where member_number=#{member_number} and schedule_day=#{day}
	</select>
	
	<delete id="memberMypageDeletePlan" parameterType="int">
		delete from schedule where member_number=#{member_number}
	</delete>
	
	<select id="memberMypageGetScheduleCnt" parameterType="int" resultType="int">
		select count(*) from schedule where member_number=#{member_number}
	</select>
	
	<select id="reviewCount" parameterType="int" resultType="int">
		SELECT count(*) FROM review
		where product_number=#{product_number}
	</select>
	
	<select id="scoreList" parameterType="int" resultType="int">
		SELECT review_score FROM review
		where product_number=#{product_number}
	</select>
	
	<update id="avgScore" parameterType="java.util.Map">
		update product set product_average_score=${starAvg} where product_number=${product_number}
	</update>
</mapper>
	