<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.adminMemberMapper">   <!-- namespace : mapper를 식별해주는 식별자 -->
	<select id="adminMemberList" resultType="com.healing.member.dto.MemberDto">
		select * from member
	</select>
	
	<select id="adminMemberSortId" resultType="com.healing.member.dto.MemberDto">
		SELECT * FROM MEMBER ORDER BY member_id
	</select>
	
	<select id="adminMemberSortName" resultType="com.healing.member.dto.MemberDto">
		SELECT * FROM MEMBER ORDER BY member_name
	</select>
	
	<select id="adminMemberSortDate" resultType="com.healing.member.dto.MemberDto">
		SELECT * FROM MEMBER ORDER BY member_date
	</select>
	
	<select id="adminMemberSortPurchase" resultType="com.healing.member.dto.MemberDto">
		SELECT * FROM MEMBER ORDER BY member_purchase
	</select>
	
	<select id="adminMemberSortNomal" resultType="com.healing.member.dto.MemberDto">
		SELECT * FROM MEMBER where member_level='normal'
	</select>
	
	<select id="adminMemberSortVip" resultType="com.healing.member.dto.MemberDto">
		SELECT * FROM MEMBER where member_level='vip'
	</select>
	
	<select id="adminMemberSortDelete" resultType="com.healing.member.dto.MemberDto">
		SELECT * FROM MEMBER where member_delete='2' or member_delete='1'
	</select>
	
	<select id="adminMemberSearchName" parameterType="String" resultType="com.healing.member.dto.MemberDto" >
		SELECT * FROM MEMBER WHERE member_name LIKE '%' ||#{search}|| '%'
	</select>
	
	<select id="adminMemberSearchId" parameterType="String" resultType="com.healing.member.dto.MemberDto">
		SELECT * FROM MEMBER WHERE member_id LIKE '%' ||#{search}|| '%'
	</select>
	
	<select id="adminMemberSearchPhone" parameterType="String" resultType="com.healing.member.dto.MemberDto">
		SELECT * FROM MEMBER WHERE member_phone LIKE '%' ||#{search}|| '%'
	</select>
	
	<select id="adminMemberPrice" parameterType="java.util.Map" resultType="com.healing.member.dto.MemberDto">
		<![CDATA[
			select * from member where member_purchase>=#{min} and member_purchase<=#{max} order by member_purchase
		]]>
	</select>
	
	<update id="adminMemberChange" parameterType="java.util.Map">
		<![CDATA[
			update member set member_level=#{member_level} where member_purchase>=#{minValue} and member_purchase<=#{maxValue}
		]]>
	</update>
	
	<select id="adminMemberSelect" parameterType="int" resultType="com.healing.member.dto.MemberDto">
		select * from member where member_number=#{member_number}
	</select>
	
	<update id="adminMemberUpdate" parameterType="com.healing.member.dto.MemberDto">
		update member set member_id=#{member_id},member_phone=#{member_phone},member_email=#{member_email},member_level=#{member_level}
		where member_number=#{member_number}
	</update>
	
	<update id="adminMemberKick" parameterType="java.util.Map">
		update member set member_delete=#{member_delete} where member_number=#{member_number}
	</update>
	
	<update id="adminMemberRestore" parameterType="java.util.Map">
		update member set member_delete=#{member_delete} where member_number=#{member_number}
	</update>
</mapper>