@CHARSET "UTF-8";

a:link{color:black; text-decoration: none;}
a:visited{color:black; text-decoration: none;}
a:hover{color:black; text-decoration: none;}
li{list-style: none; text-align:center;}

ul,li {margin:0; padding:0;} 

#continentDiv{
	border:0px solid black;
	float:left; 
	width:80px;
	background-color: #2F9D27;
}

#continentDiv ul li{
	border:0px solid #EAEAEA; 
	border-left-color:black; border-right-color:#ffffff;
	width:80px; height:80px; line-height: 80px;
	color:#ffffff;
}

#countryDiv{
	border:0px solid black;
	float:left;
	width:250px;
}

#countryDiv div:nth-child(1){
	border:0px solid black;
	width:250px; height:80px;
	line-height: 80px; text-align: center;
	background-color: #6ABC64;
	font-size: 1.2em; color:#ffffff; font-weight: bold;
}

#countryDiv div:nth-child(2){
	border:0px solid black;
	width:250px; 
	margin-top: 50px; overflow-y:scroll; overflow-x:hidden;
}

#countryDiv div:nth-child(2) ul li{
	border:0px solid #EAEAEA;
	height:80px; line-height: 80px;
	width:250px;
}

body {
	overflow : hidden;
}