@CHARSET "UTF-8";
.unedited{
	border: 1px red solid;
}

.edited{
	border: 1px blue solid;
}

.editing input{
	border: 1px yellow solid;
	background-color:#ff5;
}

a:hover{
	background-color:#ff5;
}

ul{
	height: 50px;
}
.title{
	width: 180px;
	height: 28px;
	border: 1px red solid;
	float: left;
}
.title label{
	text-align: right;
}
.content{
	margin-left: 180px;
	width: 300px;
	height: 28px;
	border: 1px blue solid;
	align: right;
}
.content_wrapper{
	width: 700px;
	border: 2px #ff0 solid;
}
input { 
    text-align: right;
    border-radius: 5px;
}