@CHARSET "UTF-8";
.unedited{
	border: 1px red solid;
}

.edited{
	border: 1px blue solid;
}

.editing input{
	border: 1px yellow solid;
	background-color:#ff5;
}

ul{
	height: 50px;
}
.title{
	width: 180px;
	height: 30px;
	border: 0px red solid;
	float: left;
}
.title label{
	text-align: right;
}
.content{
	margin: 0 0 0 180px;
	width: 270px;
	height: 30px;
	border: 0px blue solid;
	align: right;
}
.content_wrapper{
	margin: 0 0 0 150px;
	width: 600px;
	font-size: 13px;
}
input { 
    text-align: right;
    border-radius: 5px;
}
.bargainSubmit{
	align: center;
}
.flight{
	height: 490px;
}
.day{
	height: 700px;
}
.ui-accordion{
	width: 555px;
}