<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.adminOrderMapper">   <!-- namespace : mapper를 식별해주는 식별자 -->
	<select id="getAllOrderList" resultType="com.healing.order.dto.OrderDto">
		select * from orders order by order_number desc
	</select>
	
	<select id="getadminOrderSearchOneOrderNumber" resultType="com.healing.order.dto.OrderDto">
		select * from orders where order_number=#{search_input}	
	</select>
	
	<select id="getadminOrderSearchOneOrderName" resultType="com.healing.order.dto.OrderDto">
		select * from orders where order_name=#{search_input} order by orders.order_number desc
	</select>
	
	<select id="getadminOrderSearchOneMemberID" resultType="com.healing.order.dto.OrderDto">
		SELECT * FROM orders , MEMBER WHERE orders.member_number=MEMBER.member_number AND MEMBER.member_id=#{search_input} order by orders.order_number desc
	</select>
	
	<select id="getadminOrderSearchOneMemberName" resultType="com.healing.order.dto.OrderDto">
		SELECT * FROM orders , MEMBER WHERE orders.member_number=MEMBER.member_number AND MEMBER.member_name=#{search_input} order by orders.order_number desc
	</select>
	
	<select id="getadminOrderSearchOneOrderPhone" resultType="com.healing.order.dto.OrderDto">
		select * from orders where order_phone=#{search_input} order by orders.order_number desc
	</select>
	
	<select id="getadminOrderSearchOneOrderGuest" resultType="com.healing.order.dto.OrderDto">
		select * from orders where member_number=1 order by orders.order_number desc
	</select>
	
	<select id="getAllOrderMultiList"  parameterType="java.util.HashMap" resultType="com.healing.order.dto.OrderDto">
		<![CDATA[ 
		SELECT * FROM orders where order_date between to_date(#{start_date},'YYYY/MM/DD')AND to_date(#{end_date},'YYYY/MM/DD')+1 order by order_number desc
		]]>
	</select>
	
	<select id="getadminOrderSearchMultiOrderNumber" parameterType="java.util.HashMap" resultType="com.healing.order.dto.OrderDto">
		SELECT * FROM (select * from orders where order_date between to_date(#{start_date},'YYYY/MM/DD')AND to_date(#{end_date},'YYYY/MM/DD')+1) where order_number=#{search_input} 
	</select>
	
	<select id="getadminOrderSearchMultiOrderName" parameterType="java.util.HashMap" resultType="com.healing.order.dto.OrderDto">
		SELECT * FROM (select * from orders where order_date between to_date(#{start_date},'YYYY/MM/DD')AND to_date(#{end_date},'YYYY/MM/DD')+1) where order_name=#{search_input} order by order_number desc
	</select>
	
	<select id="getadminOrderSearchMultiMemberID" parameterType="java.util.HashMap" resultType="com.healing.order.dto.OrderDto">
		SELECT * FROM (SELECT * FROM orders WHERE order_date BETWEEN to_date(#{start_date},'YYYY/MM/DD') AND to_date(#{end_date},'YYYY/MM/DD')+1) orders,member where orders.member_number=MEMBER.member_number AND MEMBER.member_id=#{search_input} order by order_number desc
	</select>
	
	<select id="getadminOrderSearchMultiMemberName" parameterType="java.util.HashMap" resultType="com.healing.order.dto.OrderDto">
		SELECT * FROM (SELECT * FROM orders WHERE order_date BETWEEN to_date(#{start_date},'YYYY/MM/DD') AND to_date(#{end_date},'YYYY/MM/DD')+1) orders,member where orders.member_number=MEMBER.member_number AND MEMBER.member_name=#{search_input} order by order_number desc
	</select>
	
	<select id="getadminOrderSearchMultiOrderPhone" parameterType="java.util.HashMap" resultType="com.healing.order.dto.OrderDto">
		SELECT * FROM (select * from orders where order_date between to_date(#{start_date},'YYYY/MM/DD')AND to_date(#{end_date},'YYYY/MM/DD')+1) where order_phone=#{search_input}  order by order_number desc
	</select>
	
	<select id="getadminOrderSearchMultiOrderGuest" parameterType="java.util.HashMap" resultType="com.healing.order.dto.OrderDto">
		SELECT * FROM (select * from orders where order_date between to_date(#{start_date},'YYYY/MM/DD')AND to_date(#{end_date},'YYYY/MM/DD')+1) where member_number=1 order by order_number desc
	</select>
	
	<select id="adminOrderRead" parameterType="int" resultType="com.healing.order.dto.OrderDto">
		select * from orders where order_number=#{order_number}
	</select>
	
	<update id="adminOrderModify" parameterType="com.healing.order.dto.OrderDto">
		update orders set order_money=#{order_money},order_name=#{order_name}, order_phone=#{order_phone},order_email=#{order_email},order_adult=#{order_adult}, order_child=#{order_child}, order_baby=#{order_baby},order_modify_money=#{order_modify_money}, payment_state=#{payment_state} where order_number=#{order_number}
	</update>
	
	<update id="adminOrderPay" parameterType="java.util.HashMap">
		update orders set payment_state=#{state}, order_modify_money=0, order_pay=order_money where order_number=#{order_number}
	</update>
	
	<update id="adminOrderCancle" parameterType="java.util.HashMap">
		update orders set payment_state=#{state}, order_modify_money=0, order_pay=0, order_money=0, order_adult=0, order_child=0, order_baby=0 where order_number=#{order_number}
		
	</update>
	
	<select id="getTodaySales" parameterType="String" resultType="int">
		select nvl(sum(order_money),0) from orders where order_date>#{today}
	</select>
	
	<select id="getTodayPay" parameterType="String" resultType="int">
		select nvl(sum(order_pay),0) from orders where order_date>#{today}
	</select>
	
	<select id="adminOrderStatsSearchDay" parameterType="java.util.HashMap" resultType="String">
		SELECT TO_CHAR(order_date,'yy/mm/DD'), sum(order_money) FROM (SELECT * FROM orders 	WHERE order_date BETWEEN to_date(#{start_date},'YYYY/MM/DD') AND to_date(#{end_date},'YYYY/MM/DD')+1) GROUP BY to_char(order_date,'yy/mm/DD') order by 1 desc
	</select>
	
	<select id="adminOrderStatsSearchDayPay" parameterType="java.util.HashMap" resultType="String">
		SELECT TO_CHAR(order_date,'yy/mm/DD'), sum(order_pay) FROM (SELECT * FROM orders 	WHERE order_date BETWEEN to_date(#{start_date},'YYYY/MM/DD') AND to_date(#{end_date},'YYYY/MM/DD')+1) GROUP BY to_char(order_date,'yy/mm/DD') order by 1 desc
	</select>

		<select id="adminOrderStatsSearchDayPay2" resultType="int">
		SELECT sum(order_money)
FROM (SELECT * FROM orders 
		WHERE order_date between to_date('2015/12/08','YYYY/MM/DD')
		AND to_date('2015/12/08','YYYY/MM/DD')+1) 
GROUP BY to_char(order_date,'yy/mm/DD')
ORDER BY 1 DESC
	</select>
</mapper>
