@CHARSET "UTF-8";


#orderForm{
	text-align: center;
	
}
#order_title{
	text-align: left;
	margin-bottom: 30px;
}
#orderPage{
	width :940px;
	margin:1px auto;
	
}

.details{
	width: 620px; float:left; margin-left: 30px; text-align: left; 
	margin-top: 20px;
}

#productInfo{
	border: 1px solid gray;
	background-color: lightgray;
	height: 150px;
	width :600px;
	margin:1px auto;
}
#tabs{
	margin:1px auto;
	width:930px;
	font-size: 11px;
	height: 500px;
	overflow : hidden;
	text-align: left;
}

#tabsDiv{
	overflow: scroll;
	height: 470px;
}

#orderAllDiv{
	margin-top: 30px;
	background-color: #eeeeee;
	border: 1px solid #d4d4d4;
	border-radius:10px;
	width:600px;
	margin-left:170px;
	height: 290px;
	
}

.stipulationType1{
	 border:0;
	 width:auto;
	 height:auto; 
	 overflow:visible; 
	 padding:10px 10px; 
	 font-size: 12px;"
}

.orderDiv{
	margin-left:100px;
	width:600px;
	text-align:left;
	margin-top: 15px;
}

label{
	font-size: 13px;
}

#salesTop:last-CHILD{

	background-color: yellow;
}
