<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.boardQnaMapper">
	<select id="boardQnaGetMaxNumber" resultType="int">
		select nvl(max(qna_group_number),0) from qna
	</select>
	
	<update id="boardQnaNumberUpdate" parameterType="com.healing.boardQna.dto.BoardQnaDto">
		update 
			qna
		set
			qna_reply = 1
		where
			qna_number = #{qna_number}
	</update>
	
	<insert id="boardQnaInsert" parameterType="com.healing.boardQna.dto.BoardQnaDto">
		insert into
			qna(qna_number, qna_sort, qna_title, qna_content, qna_writer, qna_date, qna_password,
				qna_group_number, qna_sequence_number, qna_readCount)
		values
			(qna_qna_number_seq.nextval, #{qna_sort}, #{qna_title}, #{qna_content}, #{qna_writer}, #{qna_date},
			#{qna_password}, #{qna_group_number}, #{qna_sequence_number}, #{qna_readCount})
	</insert>
	
	<select id="boardQnaGetCountSearch" parameterType="java.util.HashMap" resultType="int">
		select count(*) from qna where
			<if test="searchSort == 'titleSort' or searchSort eq 'titleSort'">
				qna_title like '%' || #{searchWord} || '%' and 
			</if>
			<if test="searchSort == 'contentSort' or searchSort eq 'contentSort'">
				qna_content like '%' || #{searchWord} || '%' and 
			</if>
			<if test="searchSort == 'writerSort' or searchSort eq 'writerSort'">
				qna_writer like '%' || #{searchWord} || '%' and 
			</if>
		qna_sequence_number=0
	</select>
	
	<select id="boardQnaGetListSearch" parameterType="java.util.HashMap" resultType="com.healing.boardQna.dto.BoardQnaDto">
		<![CDATA[
			select * from
				(select rownum rnum, g.* from
				(select * from qna where qna_sequence_number = 0  ]]>
			
			<if test="searchSort == 'titleSort' or searchSort eq 'titleSort'">
				and qna_title like '%' || #{searchWord} || '%'
			</if>
			<if test="searchSort == 'contentSort' or searchSort eq 'contentSort'">
				and qna_content like '%' || #{searchWord} || '%'
			</if>
			<if test="searchSort == 'writerSort' or searchSort eq 'writerSort'">
				and qna_writer like '%' || #{searchWord} || '%'
			</if>
			
		<![CDATA[
				order by qna_number desc) g) 
			where 
				rnum between #{startRow} and #{endRow}   ]]>
	</select>
	
	<update id="readCount" parameterType="int">
		update qna set qna_readCount=qna_readCount+1 where qna_number = #{qna_number}
	</update>
	
	<select id="boardQnaSelect" parameterType="int" resultType="com.healing.boardQna.dto.BoardQnaDto">
		select * from qna where qna_number = #{qna_number}
	</select>
	
	<select id="boardQnaReadList" parameterType="int" resultType="com.healing.boardQna.dto.BoardQnaDto">
		select * from qna where qna_group_number = #{qna_group_number}
	</select>
	
	<delete id="boardQnaDelete" parameterType="int">
		delete from qna where qna_number = #{qna_number}
	</delete>
	
	<update id="boardQnaUpdate" parameterType="com.healing.boardQna.dto.BoardQnaDto">
		update 
				qna
			set
				qna_writer=#{qna_writer},
				qna_title=#{qna_title},
				qna_password=#{qna_password},
				qna_sort=#{qna_sort},
				qna_content=#{qna_content}
			where
				qna_number=#{qna_number}
	</update>
	
	<update id="boardQnaUpdateReply" parameterType="com.healing.boardQna.dto.BoardQnaDto">
		UPDATE 
			qna
		SET
			qna_reply = 0
		WHERE
			qna_group_number=#{qna_group_number} and qna_sequence_number=0
	</update>
</mapper>